In [5]:
# import the necessary packages
import matplotlib.patches as mpatches
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd

# load the low resolution world map
world = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))

C:\Users\Niall.Russell\AppData\Local\Temp\ipykernel_9908\2261681313.py:8: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  world = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))

AttributeError: module 'fiona' has no attribute 'path'

In [ ]:
# initialize an empty figure and add an axis
fig = plt.figure(figsize=(20, 10))
ax = fig.add_subplot()

# plot a basic map of the world
world.plot(
    ax=ax,
    color="lightgray",
    edgecolor="black",
    alpha=0.5
)

# turn off axis ticks
ax.set_xticks([])
ax.set_yticks([])

# set the plot title
plt.title("Basic Map of World with GeoPandas")
plt.show()

In [8]:
import plotly.express as px
import pandas as pd


# Import data from GitHub
data = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder_with_codes.csv')


# Create basic choropleth map
fig = px.choropleth(data, locations='iso_alpha', color='gdpPercap', hover_name='country',
                    projection='natural earth', title='GDP per Capita by Country')
#fig.show()

In [9]:
data.head(6)

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
5,Afghanistan,Asia,1977,38.438,14880372,786.113360,AFG,4

In [13]:
pwd

'c:\\Users\\Niall.Russell\\OneDrive - University of Limerick\\git files\\pands-mywork\\GM'

In [28]:
gm = pd.read_csv("Applications_by_Nationality.csv")

In [25]:
gm.head(6)

  NATIONALITY  APPLICATIONS  OFFERS  ACCEPTS
0    Pakistan           163       0        0
1     Nigeria            60       0        0
2      Brazil            47       0        0
3       India            35       0        0
4      Turkey            32       0        0
5     Germany            29       0        0

In [29]:
gm = gm.drop(["OFFERS", "ACCEPTS"], axis = 1)

In [30]:
gm

                  NATIONALITY  APPLICATIONS
0                    Pakistan           163
1                     Nigeria            60
2                      Brazil            47
3                       India            35
4                      Turkey            32
..                        ...           ...
88                     Rwanda             1
89                   Slovenia             1
90                    Somalia             1
91  Taiwan, Province of China             1
92                      Yemen             1

[93 rows x 2 columns]

In [ ]:
fig = px.choropleth(gm, locations='iso_alpha', color='APPLICATIONS', hover_name='country',
                    projection='natural earth', title='Applications by Country')

In [45]:
pd.set_option("display.max_rows", None)

In [46]:
gm

                                    NATIONALITY  APPLICATIONS
0                                      Pakistan           163
1                                       Nigeria            60
2                                        Brazil            47
3                                         India            35
4                                        Turkey            32
5                                       Germany            29
6                                         Ghana            24
7                                 United States            22
8                                     Indonesia            20
9                                         China            19
10                                        Kenya            17
11                                     Ethiopia            16
12                                  Philippines            15
13                                   Bangladesh            13
14                    Iran, Islamic Republic of            12
15                                     Colombia            11
16                                      Georgia            11
17                                       Mexico            11
18                                        Italy            10
19                                      Lebanon            10
20                                     Malaysia             9
21                                     Viet Nam             9
22                                   Azerbaijan             8
23                                       Canada             8
24                           Russian Federation             7
25                                        Spain             7
26                                      Ukraine             7
27                                     Zimbabwe             7
28                                   Kazakhstan             5
29                                        Nepal             5
30                                       Poland             5
31                                 South Africa             5
32                                      UNKNOWN             5
33                                      Ecuador             4
34                                      Romania             4
35                                    Sri Lanka             4
36                 Tanzania, United Republic of             4
37                                       Uganda             4
38                                   Kyrgyzstan             3
39                                  Netherlands             3
40                                         Peru             3
41                                     Thailand             3
42                          Trinidad and Tobago             3
43                                    Venezuela             3
44                                  Afghanistan             2
45                                    Argentina             2
46                                      Austria             2
47                                        Egypt             2
48                                       France             2
49  Great Britain  (excluding Northern Ireland)             2
50                                      Hungary             2
51         Ireland (including Northern Ireland)             2
52                                       Israel             2
53                                        Malta             2
54                                      Morocco             2
55                                       Panama             2
56                                     Paraguay             2
57                                     Portugal             2
58                                     Slovakia             2
59                                        Sudan             2
60                         Syrian Arab Republic             2
61                                      Tunisia             2
62                                      Albania             1
63                                      Algeria             1
64                                      Armenia             1
65                                      Bolivia             1
66                       Bosnia and Herzegovina             1
67                                      Burundi             1
68                                     Cameroon             1
69                                        Chile             1
70                                   Costa Rica             1
71                                      Croatia             1
72                               Czech Republic             1
73                                      Estonia             1
74                                       Gambia             1
75                                    Guatemala             1
76                                      Iceland             1
77                                        Japan             1
78                                       Jordan             1
79             Lao People's Democratic Republic             1
80   Macedonia, The Former Yugoslav Republic of             1
81                                   Madagascar             1
82                                       Malawi             1
83                                    Mauritius             1
84                                      Myanmar             1
85                                      Namibia             1
86                                    Nicaragua             1
87              Palestinian Territory, Occupied             1
88                                       Rwanda             1
89                                     Slovenia             1
90                                      Somalia             1
91                    Taiwan, Province of China             1
92                                        Yemen             1

In [54]:
import pycountry

input_countries = gm["NATIONALITY"]

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_3

codes = [countries.get(country, "Unknown code") for country in input_countries]

print(codes)  # prints ['AS', 'CA', 'FR']

['PAK', 'NGA', 'BRA', 'IND', 'Unknown code', 'DEU', 'GHA', 'USA', 'IDN', 'CHN', 'KEN', 'ETH', 'PHL', 'BGD', 'IRN', 'COL', 'GEO', 'MEX', 'ITA', 'LBN', 'MYS', 'VNM', 'AZE', 'CAN', 'RUS', 'ESP', 'UKR', 'ZWE', 'KAZ', 'NPL', 'POL', 'ZAF', 'Unknown code', 'ECU', 'ROU', 'LKA', 'TZA', 'UGA', 'KGZ', 'NLD', 'PER', 'THA', 'TTO', 'Unknown code', 'AFG', 'ARG', 'AUT', 'EGY', 'FRA', 'Unknown code', 'HUN', 'Unknown code', 'ISR', 'MLT', 'MAR', 'PAN', 'PRY', 'PRT', 'SVK', 'SDN', 'SYR', 'TUN', 'ALB', 'DZA', 'ARM', 'Unknown code', 'BIH', 'BDI', 'CMR', 'CHL', 'CRI', 'HRV', 'Unknown code', 'EST', 'GMB', 'GTM', 'ISL', 'JPN', 'JOR', 'LAO', 'Unknown code', 'MDG', 'MWI', 'MUS', 'MMR', 'NAM', 'NIC', 'Unknown code', 'RWA', 'SVN', 'SOM', 'TWN', 'YEM']

In [48]:
gm["NATIONALITY"] = gm["NATIONALITY"].str.replace("Venezuela", "Venezuela (Bolivarian Republic of)")

In [53]:
gm["NATIONALITY"] = gm["NATIONALITY"].str.replace("Turkey", "Türkiye")